<div class="container" style="width: 900px">
  <h1 style="text-align: center">Sửa phẩm mới</h1>
  <form [formGroup]="productForm" (ngSubmit)="updateProduct(id)" novalidate>
    <div class="col-md-12 ">
      <label for="name" class="form-label">Tên sản phẩm</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <div *ngIf="productForm.controls.name.hasError('required')
                && productForm.controls.name.touched">
        <p style="color: red">Không dc để trống</p>
      </div>
      <div *ngIf="productForm.controls.name.hasError('pattern')
                && productForm.controls.name.touched">
        <p style="color: red">Sai định dạng</p>
      </div>
    </div>

    <div class="col-md-12 ">
      <label for="price" class="form-label">Giá sản phẩm</label>
      <input type="text" class="form-control" id="price" formControlName="price">
      <div *ngIf="productForm.controls.price.hasError('required')
 && productForm.controls.price.touched"><p style="color: red">Không dc để trống</p>
      </div>
      <div *ngIf="productForm.controls.price.hasError('priceFalse')
 && productForm.controls.price.touched"><p style="color: red">Giá tiền lớn hơn 0</p>
      </div>
    </div>

    <div class="col-md-12 ">
      <label for="description" class="form-label">Mô tả sản phẩm</label>
      <input type="text" class="form-control" id="description" formControlName="description">
      <div *ngIf="productForm.controls.description.hasError('required')
&& productForm.controls.description.touched"><p style="color: red">Không dc để trống</p>
      </div>
    </div>

    <div class="col-md-12 ">
      <label for="category" class="form-label">Danh mục sản phẩm</label>
      <select id="category" formControlName="category" class="form-select">
        <option value="" selected>Chọn danh mục sản phẩm</option>
        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.nameCategory}}</option>
      </select>
      <div *ngIf="productForm.controls.category.hasError('required')
&& productForm.controls.category.touched"><p style="color: red">Không dc để trống</p>
      </div>
    </div>

    <button type="submit" [disabled]="!productForm.valid">Submit</button>

  </form>
</div>
