<div class="container">
  <h1 style="text-align: center"> {{facility.nameService}} </h1>
  <h5>Area: {{facility.area}}</h5>
  <h5>Cost: {{facility.cost}}</h5>
  <h5>Max People: {{facility.maxPeople}}</h5>
  <h5>Rent Type: {{facility.rentType.name}}</h5>

  <h5 *ngIf="facility.standardRoom;else elseStandard">Room Standard: {{facility.standardRoom}}</h5>
  <ng-template #elseStandard><h5>Room Standard: XXX </h5></ng-template>

  <h5 *ngIf="facility.descriptionOtherConvenience;else elseDescription">
    Description: {{facility.descriptionOtherConvenience}}</h5>
  <ng-template #elseDescription><h5>Description: XXX </h5></ng-template>

  <h5 *ngIf="facility.areaPool;else elsePool">PoolArea: {{facility.areaPool}}</h5>
  <ng-template #elsePool><h5>PoolArea: XXX </h5></ng-template>

  <h5 *ngIf="facility.numberOfFloors;else elseFloors">Number Floors: {{facility.numberOfFloors}}</h5>
  <ng-template #elseFloors><h5>Number Floors: XXX </h5></ng-template>

  <h5 *ngIf="facility.freeService;else elseService">Free Service: {{facility.freeService}}</h5>
  <ng-template #elseService><h5>Free Service: XXX </h5></ng-template>

</div>
