<h1>Danh sách sản phẩm</h1>
<a routerLink="/create">Tạo mới sản phẩm</a>
<table>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Thể loại</td>
    <td colspan="2"></td>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category.nameCategory}}</td>
    <td><a [routerLink]="['/edit',product.id]">Edit</a></td>
    <td>
      <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#delete"
              (click)="getIdNameDelete(product.id,product.name)">Delete
      </button>
    </td>
  </tr>
</table>


<div class="modal" tabindex="-1" id="delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa: {{nameDelete}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="delete()" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>




