<a [routerLink]="['/cus-list']">Home Customer</a>
<a [routerLink]="['/cus-create']">Create Customer</a>
<table class="table table-info">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th>Id card</th>
    <th>Phone number</th>
    <th>Email</th>
    <th>Address</th>
    <th>Customer type</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let customer of customers;let i = index" [attr.data-index]="i">
    <td>{{i + 1}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.birthday}}</td>
    <td>{{customer.gender}}</td>
    <td>{{customer.idCard}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.customerType.name}}</td>
    <td>
      <a [routerLink]="['/cus-edit',customer.id]">Edit</a>
    </td>
    <td>
      <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#delete"
              (click)="getIdNameDelete(customer.id,customer.name)">Delete
      </button>
    </td>
  </tr>
</table>

<div class="modal" tabindex="-1" id="delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa: {{nameDelete}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteCustomer()" >Save changes</button>
      </div>
    </div>
  </div>
</div>
